/* Defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Colours */
$primary-color: #272727;
$secondary-color: #616d8e;
$tertiary-color: #4fdfff;
$accent-color: #df5ce4;

/* Sass mixins */
@mixin box-settings {
  background-color: $secondary-color;
  border: $primary-color solid 2px;
  border-radius: 5px;
}

/* Animations */
@keyframes logo-shake {
  0% {
    transform: scale(1.1) translate(0px, 0px);
  }
  20% {
    transform: scale(1.1) translate(5px, 2px);
  }
  40% {
    transform: scale(1.1) translate(-2px, 3px);
  }
  60% {
    transform: scale(1.1) translate(1px, -4px);
  }
  80% {
    transform: scale(1.1) translate(3px, -1px);
  }
  100% {
    transform: scale(1.1) translate(0px, 0px);
  }
}
@keyframes glitch-effect {
  0% {
    text-shadow: 4px 0 0 $accent-color, 4px 2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  12% {
    text-shadow: -2px 5px 0 $accent-color, -2px -2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  15% {
    text-shadow: 7px 8px 0 $accent-color, -4px -1px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  26% {
    text-shadow: 0px -3px 0 $accent-color, 8px 0px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  41% {
    text-shadow: 4px -1px 0 $accent-color, 4px 2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  44% {
    text-shadow: -1px 1px 0 $accent-color, 5px 5px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  52% {
    text-shadow: 4px 5px 0 $accent-color, -4px -2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  62% {
    text-shadow: -2px 5px 0 $accent-color, -2px -2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  63% {
    text-shadow: 1px -4px 0 $accent-color, 3px -2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  82% {
    text-shadow: 4px 2px 0 $accent-color, 1px -4px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  85% {
    text-shadow: -1px -3px 0 $accent-color, 4px 2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  99% {
    text-shadow: 1px 3px 0 $accent-color, -5px 2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
  100% {
    text-shadow: 4px 0 0 $accent-color, 4px 2px 0 $tertiary-color,
      -1px -1px 1px $primary-color, 1px 1px 1px $primary-color;
  }
}

/* Background Image */
body {
  background-image: url(/assets/retro-future-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;700&display=swap");
* {
  font-family: "Barlow", sans-serif;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1rem;
}

/* Images and Logos/Icons */
.home-logo,
.logo {
  width: 60px;
  margin: 10px;
  transition: 0.5s;
  border-radius: 50%;
}
.logo:hover {
  box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
}
.social-link img {
  width: 36px;
  margin-right: 10px;
}
.about-img img {
  width: calc(90% - 20px);
  margin: 10px auto 5px auto;
}
.project-details img {
  width: calc(50% - 20px);
  margin: 5px auto 5px auto;
}
.skills-logos img {
  width: 48px;
}
.blog-card img {
  width: calc(90% - 10px);
  margin: 5px auto 5px auto;
}
.blog-container img {
  width: calc(90% - 10px);
  margin: 5px auto 5px auto;
}
.my-details img {
  width: calc(90% - 10px);
}

/* Buttons */
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.btn {
  display: inline-block;
  background: $secondary-color;
  color: $primary-color;
  border: $primary-color solid 2px;
  text-decoration: none;
  transition: 0.5s;
  width: 120px;
  padding: 5px 0;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
}
.btn:hover,
.btn:active {
  box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
  text-shadow: 0 0 10px $tertiary-color;
  color: $tertiary-color;
  border-color: $tertiary-color;
  font-weight: bold;
}

/* Headers */
.typ-header {
  @include box-settings();
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(1000px, 90%);
  margin: 10px auto;
}

/* Footers */
footer {
  @include box-settings();
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(1000px, 90%);
  margin: 10px auto;
  padding: 5px;

  .socials img:hover {
    animation-name: logo-shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
}

/* Home Page */
.splash {
  width: min(600px, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home-name h1 {
    text-align: center;
    font-size: 72px;
    color: white;
    padding: 20px 0;
    margin-bottom: 10px;
    animation-name: glitch-effect;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  .home-text {
    @include box-settings();
    text-align: center;
    color: $primary-color;
    font-size: 1em;
    padding: 20px 0;
    margin-bottom: 10px;

    h3 {
      padding-bottom: 10px;
    }
  }
}
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* About Page */
.about-items {
  display: flex;
  flex-wrap: wrap;
  $about-item-width: calc(90% + 20px);
  width: min(1020px, $about-item-width);
  justify-content: space-around;
  margin: 24px auto 24px auto;
}

.about-img {
  @include box-settings();
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;
}
.about-img:hover {
  box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
  border-color: $tertiary-color;
}
.about-text {
  @include box-settings();
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;

  h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}
.about-text:hover {
  box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
  border-color: $accent-color;
}
figcaption {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Portfolio */
.resume {
  @include box-settings();
  width: min(300px, 90%);
  margin: 24px auto 12px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .resume-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.skills {
  @include box-settings();
  width: min(800px, 90%);
  margin: 12px auto 7px auto;
  display: flex;
  align-items: center;

  .skills-logos {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    margin: 10px 30px;
  }

  .skill-logo:hover {
    animation-name: logo-shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  $project-item-width: calc(90% + 20px);
  width: min(1020px, $project-item-width);
  justify-content: space-around;
  margin: 0px auto 24px auto;

  .project-container {
    @include box-settings();
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 5px 0 5px 0;
    transition: 0.5s;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin: 5px 0 5px 0;
      }

      .project-details {
        display: flex;
        justify-content: center;
        margin: 10px;

        p {
          padding: 10px;
          text-align: justify;
        }
      }

      .project-btns {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .project-container:nth-child(1):hover,
  .project-container:nth-child(4):hover,
  .project-container:nth-child(5):hover {
    box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
    border-color: $tertiary-color;
    transform: scale(1.33);
  }
  .project-container:nth-child(2):hover,
  .project-container:nth-child(3):hover,
  .project-container:nth-child(6):hover {
    box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
    border-color: $accent-color;
    transform: scale(1.33);
  }

  .project-container:nth-child(2) .btn:hover,
  .project-container:nth-child(3) .btn:hover,
  .project-container:nth-child(6) .btn:hover {
    box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
    text-shadow: 0 0 10px $accent-color;
    color: $accent-color;
    border-color: $accent-color;
    font-weight: bold;
  }
}

/* Blog Page */
.blogs {
  display: flex;
  flex-wrap: wrap;
  $about-item-width: calc(90% + 20px);
  width: min(1020px, $about-item-width);
  justify-content: space-around;
  margin: 24px auto 24px auto;

  .blog-card:nth-child(odd):hover {
    box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
    border-color: $tertiary-color;
    transform: scale(1.33);
  }
  .blog-card:nth-child(even):hover {
    box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
    border-color: $accent-color;
    transform: scale(1.33);
  }

  .blog-card:nth-child(even) .btn:hover {
    box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
    text-shadow: 0 0 10px $accent-color;
    color: $accent-color;
    border-color: $accent-color;
    font-weight: bold;
  }
}

.blog-card {
  @include box-settings();
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(33% - 20px);
  margin: 5px 0 5px 0;
  padding: 10px;
  transition: 0.5s;

  .blog-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    text-align: center;
    margin: 10px 0;
  }

  .blog-summary-text {
    text-align: justify;
    margin-bottom: 10px;
  }

  .read-blog-btn {
    margin: 0 auto 10px auto;
  }
}

/* Blog entry style template */
.blog-container {
  @include box-settings();
  display: flex;
  flex-direction: column;
  width: min(1000px, 90%);
  margin: 10px auto;
  padding: 10px;

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog-content p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .blog-entry-btns {
    margin: auto;
  }
}

/* Contact Me */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  $about-item-width: calc(90% + 20px);
  width: min(1020px, $about-item-width);
  justify-content: space-around;
  margin: 24px auto 24px auto;

  h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.my-details {
  @include box-settings();
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;

  img {
    margin: calc(10% / 2 + 5px);
  }
}
.my-details:hover {
  box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
  border-color: $tertiary-color;
}
.contact-me {
  @include box-settings();
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;

  form {
    margin: 10px;

    label {
      display: inline-block;
      width: 150px;
      margin: 10px 10px;
      text-align: right;
    }

    label[class="msg"] {
      width: 100%;
      text-align: center;
    }

    input {
      border: $primary-color solid 2px;
      padding: 5px;
      transition: 0.5s;
      outline: none;
      border-radius: 5px;
    }

    input[class="msg-box"] {
      width: 100%;
      height: 240px;
    }

    input[type="text"]:focus {
      box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
      border-color: $accent-color;
    }

    input[type="submit"] {
      margin-left: calc(50% - 60px);
    }

    input[type="submit"]:hover {
      box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
      text-shadow: 0 0 10px $accent-color;
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}
.contact-me:hover {
  box-shadow: inset 0 0 15px $accent-color, 0 0 25px $accent-color;
  border-color: $accent-color;
}
