/* Defaults */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Colours */
/* Sass mixins */
/* Animations */
@keyframes logo-shake {
  0% {
    transform: scale(1.1) translate(0px, 0px);
  }
  20% {
    transform: scale(1.1) translate(5px, 2px);
  }
  40% {
    transform: scale(1.1) translate(-2px, 3px);
  }
  60% {
    transform: scale(1.1) translate(1px, -4px);
  }
  80% {
    transform: scale(1.1) translate(3px, -1px);
  }
  100% {
    transform: scale(1.1) translate(0px, 0px);
  }
}
@keyframes glitch-effect {
  0% {
    text-shadow: 4px 0 0 #df5ce4, 4px 2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  12% {
    text-shadow: -2px 5px 0 #df5ce4, -2px -2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  15% {
    text-shadow: 7px 8px 0 #df5ce4, -4px -1px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  26% {
    text-shadow: 0px -3px 0 #df5ce4, 8px 0px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  41% {
    text-shadow: 4px -1px 0 #df5ce4, 4px 2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  44% {
    text-shadow: -1px 1px 0 #df5ce4, 5px 5px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  52% {
    text-shadow: 4px 5px 0 #df5ce4, -4px -2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  62% {
    text-shadow: -2px 5px 0 #df5ce4, -2px -2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  63% {
    text-shadow: 1px -4px 0 #df5ce4, 3px -2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  82% {
    text-shadow: 4px 2px 0 #df5ce4, 1px -4px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  85% {
    text-shadow: -1px -3px 0 #df5ce4, 4px 2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  99% {
    text-shadow: 1px 3px 0 #df5ce4, -5px 2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
  100% {
    text-shadow: 4px 0 0 #df5ce4, 4px 2px 0 #4fdfff, -1px -1px 0 #272727, 1px 1px 0 #272727;
  }
}
/* Background Image */
body {
  background-image: url(/assets/retro-future-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Fonts */
* {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

/* Images and Logos/Icons */
.home-logo,
.logo {
  width: 60px;
  margin: 10px;
  transition: 0.5s;
  border-radius: 50%;
}

.logo:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
}

.social-link img {
  width: 36px;
  margin-right: 10px;
}

.about-img img {
  width: calc(90% - 20px);
  margin: 10px auto 5px auto;
  border: #272727 solid 2px;
}

.project-details img {
  width: calc(50% - 20px);
  margin: 5px auto 5px auto;
}

.skills-logos img {
  width: 48px;
}

.blog-card img {
  width: calc(90% - 10px);
  margin: 5px auto 5px auto;
  border: #272727 solid 2px;
}

.blog-container img {
  width: calc(90% - 10px);
  margin: 5px auto 5px auto;
  border: #272727 solid 2px;
}

.my-details img {
  width: calc(90% - 10px);
  border: #272727 solid 2px;
}

/* Buttons */
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  background: #616d8e;
  color: #272727;
  border: #272727 solid 2px;
  text-decoration: none;
  transition: 0.5s;
  width: 120px;
  padding: 5px 0;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 0 15px #4fdfff, 0 0 25px #4fdfff;
  text-shadow: 0 0 10px #4fdfff;
  color: #4fdfff;
  border-color: #4fdfff;
  font-weight: bold;
}

/* Headers */
.typ-header {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(1000px, 90%);
  margin: 10px auto;
}

/* Footers */
footer {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(1000px, 90%);
  margin: 10px auto;
  padding: 5px;
}
footer .socials img:hover {
  animation-name: logo-shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/* Home Page */
.splash {
  width: min(600px, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash .home-name h1 {
  text-align: center;
  font-size: 72px;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;
  animation-name: glitch-effect;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.splash .home-text {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  text-align: center;
  color: #272727;
  font-size: 1em;
  padding: 20px 0;
  margin-bottom: 10px;
}
.splash .home-text h3 {
  padding-bottom: 10px;
}

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* About Page */
.about-items {
  display: flex;
  flex-wrap: wrap;
  width: min(1020px, 90% + 20px);
  justify-content: space-around;
  margin: 24px auto 24px auto;
}

.about-img {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;
}

.about-img:hover {
  box-shadow: inset 0 0 15px #4fdfff, 0 0 25px #4fdfff;
  border-color: #4fdfff;
}

.about-text {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.about-text h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.about-text p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.about-text:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  border-color: #df5ce4;
}

figcaption {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Portfolio */
.resume {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  width: min(300px, 90%);
  margin: 24px auto 12px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.resume .resume-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  width: min(800px, 90%);
  margin: 12px auto 7px auto;
  display: flex;
  align-items: center;
}
.skills .skills-logos {
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skills h2 {
  margin: 10px 30px;
}
.skills .skill-logo:hover {
  animation-name: logo-shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: min(1020px, 90% + 20px);
  justify-content: space-around;
  margin: 0px auto 24px auto;
}
.projects .project-container {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;
}
.projects .project-container .project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project-container .project h3 {
  margin: 5px 0 5px 0;
}
.projects .project-container .project .project-details {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.projects .project-container .project .project-details p {
  padding: 10px;
  text-align: justify;
}
.projects .project-container .project .project-btns {
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects .project-container:nth-child(1):hover,
.projects .project-container:nth-child(4):hover,
.projects .project-container:nth-child(5):hover {
  box-shadow: inset 0 0 15px #4fdfff, 0 0 25px #4fdfff;
  border-color: #4fdfff;
  transform: scale(1.33);
}
.projects .project-container:nth-child(2):hover,
.projects .project-container:nth-child(3):hover,
.projects .project-container:nth-child(6):hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  border-color: #df5ce4;
  transform: scale(1.33);
}
.projects .project-container:nth-child(2) .btn:hover,
.projects .project-container:nth-child(3) .btn:hover,
.projects .project-container:nth-child(6) .btn:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  text-shadow: 0 0 10px #df5ce4;
  color: #df5ce4;
  border-color: #df5ce4;
  font-weight: bold;
}

/* Blog Page */
.blogs {
  display: flex;
  flex-wrap: wrap;
  width: min(1020px, 90% + 20px);
  justify-content: space-around;
  margin: 24px auto 24px auto;
}
.blogs .blog-card:nth-child(odd):hover {
  box-shadow: inset 0 0 15px #4fdfff, 0 0 25px #4fdfff;
  border-color: #4fdfff;
  transform: scale(1.33);
}
.blogs .blog-card:nth-child(even):hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  border-color: #df5ce4;
  transform: scale(1.33);
}
.blogs .blog-card:nth-child(even) .btn:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  text-shadow: 0 0 10px #df5ce4;
  color: #df5ce4;
  border-color: #df5ce4;
  font-weight: bold;
}

.blog-card {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(33% - 20px);
  margin: 5px 0 5px 0;
  padding: 10px;
  transition: 0.5s;
}
.blog-card .blog-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-card h3 {
  text-align: center;
  margin: 10px 0;
}
.blog-card .blog-summary-text {
  text-align: justify;
  margin-bottom: 10px;
}
.blog-card .read-blog-btn {
  margin: 0 auto 10px auto;
}

/* Blog entry style template */
.blog-container {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: min(1000px, 90%);
  margin: 10px auto;
  padding: 10px;
}
.blog-container h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-container .blog-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-container .blog-entry-btns {
  margin: auto;
}

/* Contact Me */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: min(1020px, 90% + 20px);
  justify-content: space-around;
  margin: 24px auto 24px auto;
}
.contact-container h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact-container p {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-details {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;
}
.my-details img {
  margin: calc(5% + 5px);
}

.my-details:hover {
  box-shadow: inset 0 0 15px #4fdfff, 0 0 25px #4fdfff;
  border-color: #4fdfff;
}

.contact-me {
  background-color: #616d8e;
  border: #272727 solid 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 5px 0 5px 0;
  transition: 0.5s;
}
.contact-me form {
  margin: 10px;
}
.contact-me form label {
  display: inline-block;
  width: 150px;
  margin: 10px 10px;
  text-align: right;
}
.contact-me form label[class=msg] {
  width: 100%;
  text-align: center;
}
.contact-me form input {
  border: #272727 solid 2px;
  padding: 5px;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
}
.contact-me form input[class=msg-box] {
  width: 100%;
  height: 240px;
}
.contact-me form input[type=text]:focus {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  border-color: #df5ce4;
}
.contact-me form input[type=submit] {
  margin-left: calc(50% - 60px);
}
.contact-me form input[type=submit]:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  text-shadow: 0 0 10px #df5ce4;
  color: #df5ce4;
  border-color: #df5ce4;
}

.contact-me:hover {
  box-shadow: inset 0 0 15px #df5ce4, 0 0 25px #df5ce4;
  border-color: #df5ce4;
}/*# sourceMappingURL=main.css.map */