/* Defaults */
* {
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}


/* Background Image */
body {
    background-image: url(/assets/retro-future-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* Colours */
$primary-color:#272727;
$secondary-color:#616D8E;
$tertiary-color:#4FDFFF;


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;700&display=swap');
* {
    font-family: 'Barlow', sans-serif;
}
h1 {
    font-size:3rem;
}
p {
    font-size:1rem;
}


/* Images and Logos/Icons */
.home-logo,
.logo {
    width: 60px;
    margin: 10px;
}
.social-link img {
    width: 36px;
    margin-right: 10px;
}


/* Buttons */
nav {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn {
    display:inline-block;
    background:$secondary-color;
    color:$primary-color;
    border: $primary-color solid 2px;
    text-decoration: none;
    transition: 0.5s;
    width: 120px;
    padding: 5px 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}
.btn:hover,
.btn:active {
    box-shadow: inset 0 0 15px $tertiary-color, 0 0 25px $tertiary-color;
    text-shadow: 0 0 10px $tertiary-color;
    color: $tertiary-color;
    border-color: $tertiary-color;
    font-weight: bold;
}



/* Headers */
.typ-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    width: min(1000px,90%);
    margin: 10px auto;
    border: $primary-color solid 2px;
    border-radius: 5px;
}

/* Footers */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    width: min(1000px,90%);
    margin: 10px auto;
    border: $primary-color solid 2px;
    border-radius: 5px;
    padding: 5px;
}

/* Home Page */
.splash {
    width:min(600px,90%);
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;

    .home-name {
        text-align: center;
        background-color: $secondary-color;
        color:$primary-color;
        font-size:3em;
        padding:20px 0;
        margin-bottom: 10px;
        border: $primary-color solid 2px;
    }
    .home-text {
        @extend .home-name;
    }
}

.home-container {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
