/* Defaults */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Background Image */
body {
  background-image: url(/assets/retro-future-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Colours */
/* Fonts */
* {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

/* Images and Logos/Icons */
.home-logo,
.logo {
  width: 60px;
  margin: 10px;
  transition: 0.5s;
  border-radius: 50%;
}

.logo:hover {
  box-shadow: inset 0 0 15px #DF5CE4, 0 0 25px #DF5CE4;
}

.social-link img {
  width: 36px;
  margin-right: 10px;
}

.about-img img {
  width: calc(50% - 20px);
  margin: 5px auto 5px auto;
}

.skills-logos img {
  width: 48px;
}

/* Buttons */
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  background: #616D8E;
  color: #272727;
  border: #272727 solid 2px;
  text-decoration: none;
  transition: 0.5s;
  width: 120px;
  padding: 5px 0;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 0 15px #4FDFFF, 0 0 25px #4FDFFF;
  text-shadow: 0 0 10px #4FDFFF;
  color: #4FDFFF;
  border-color: #4FDFFF;
  font-weight: bold;
}

/* Headers */
.typ-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #616D8E;
  width: min(1000px, 90%);
  margin: 10px auto;
  border: #272727 solid 2px;
  border-radius: 5px;
}

/* Footers */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #616D8E;
  width: min(1000px, 90%);
  margin: 10px auto;
  border: #272727 solid 2px;
  border-radius: 5px;
  padding: 5px;
}

/* Home Page */
.splash {
  width: min(600px, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash .home-name, .splash .home-text {
  text-align: center;
  background-color: #616D8E;
  color: #272727;
  font-size: 3em;
  padding: 20px 0;
  margin-bottom: 10px;
  border: #272727 solid 2px;
  border-radius: 5px;
}
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* About Page */
.about-items {
  display: flex;
  flex-wrap: wrap;
  width: min(1020px, 90% + 20px);
  justify-content: space-around;
  margin: 24px auto 24px auto;
}

.about-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #616D8E;
  width: calc(50% - 20px);
  border: #272727 solid 2px;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  transition: 0.5s;
}

.about-img:hover {
  box-shadow: inset 0 0 15px #4FDFFF, 0 0 25px #4FDFFF;
  border-color: #4FDFFF;
}

.about-text {
  background-color: #616D8E;
  width: calc(50% - 20px);
  border: #272727 solid 2px;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.about-text h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.about-text p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.about-text:hover {
  box-shadow: inset 0 0 15px #DF5CE4, 0 0 25px #DF5CE4;
  border-color: #DF5CE4;
}

figcaption {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */